{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul class="navul">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'create' %}">Create</a></li>
            <li><a href="{% url 'forgot_password' %}">Forgot Password</a></li>
            <!-- <li><a href=" url 'api_products' ">API</a></li>
            <form method="post">
                {% csrf_token %}
                <label for="id_product">API id:</label>
                <input type="number" name="id_product" id="">
                <button type="submit">Submit</button>
            </form> -->

        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>



    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>